.bio {
    display:flex;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem;
}

.bio img{
    width: 450px;
    border-radius: 10%;
    object-fit: cover;
}

.texto {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0;
    width: 100%;
}

.texto p {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.4;
    width: 100%;
    text-indent: 0;
    text-align: justify;
}

.texto h1 {
    text-align: center;
}

